
====================================================================
<h1> leave applied by Employe Id :- <%=  @rest.employe.e_id  %></h1>====================================================================